# Temporary files used by editors.
*~
*.swp
.#*
\#*

# Project files from IDEs.
.classpath
.project
.settings
prj.el
.jde/
TAGS
.taglist
nb-configuration.xml
nbactions.xml
.ensime
.idea/
*.iml

# Build and run artifacts.
target/
build/
logs/
pids/
